{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Loan Aid - Staff Activation</title>
    <link rel="icon" type="image/png" href="{% static 'img/Loan Aid.png' %}" />
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/custom-styles.css' %}" rel="stylesheet" />
    <style>
      html, body { height: 100%; }
      body { min-height: 100vh; display: flex; align-items: center; justify-content: center; background: #fff; }
      .container { min-height: 100vh; display: flex; align-items: center; justify-content: center; }
      .card { max-width: 900px; width: 100%; }
      .login-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        margin: auto;
        padding: 2rem 0;
      }
      hr { border-top: 1px solid rgb(255 255 255 / 31%) !important; }
      .btn-primary { background-color: #69a3dd !important; color: rgb(0, 30, 71) !important; }
      .parent-container { display: grid; place-items: center; }
      .d-flex.logo { width: 12rem; height: 5.5rem; background-size: cover; background-position: center; }
      a, a:hover { color: #fff; }
    </style>
  </head>
  <body>
    <div class="container" style="min-height: 100vh; display: flex; align-items: center; justify-content: center;">
      <div class="row w-100 justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="col-xl-5 col-lg-6 col-md-8">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <div class="row align-items-center justify-content-center">
                <div class="col-12 bg-gradient-primary">
                  <div class="p-5">
                    <div class="parent-container">
                      <div class="d-flex logo" style="background-image: url('{% static 'img/Loan Aid.png' %}');"></div>
                    </div>
                    <hr />
                    <div class="text-center">
                      <h1 class="h4 text-white mb-4">Staff Account Activation</h1>
                    </div>

                    {% if error %}
                      <div class="alert alert-danger">{{ error }}</div>
                    {% endif %}
                    
                    {% if not error %}
                      <div class="text-center mb-4">
                        <h5 class="text-white">Welcome, {{ staff.first_name }} {{ staff.last_name }}!</h5>
                        <p class="text-white-50">Please set your password to activate your account.</p>
                      </div>
                      
                      <form class="user" method="POST">
                        {% csrf_token %}
                        
                        <!-- Password -->
                        <div class="form-group">
                          {{ form.password }}
                          {% if form.password.errors %}
                            <div class="text-warning small mt-1">
                              {% for error in form.password.errors %}
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                          {% if form.password.help_text %}
                            <small class="form-text text-white-50">{{ form.password.help_text }}</small>
                          {% endif %}
                        </div>
                        
                        <!-- Confirm Password -->
                        <div class="form-group">
                          {{ form.confirm_password }}
                          {% if form.confirm_password.errors %}
                            <div class="text-warning small mt-1">
                              {% for error in form.confirm_password.errors %}
                                <i class="fas fa-exclamation-circle"></i> {{ error }}
                              {% endfor %}
                            </div>
                          {% endif %}
                        </div>
                        
                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                          <i class="fas fa-key"></i> Activate Account
                        </button>
                      </form>
                    {% endif %}
                    
                    <hr />
                    <div class="text-center">
                      <a class="small" href="{% url 'login' %}">Already have an account? Login</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
  </body>
</html>
